{
    "branches": [
        { "name": "master" },
        { "name": "v3", "range": "3.x.x", "channel": "dev" },
        { "name": "v4", "prerelease": "beta", "range": "4.x.x", "channel": "v4-0-0" },
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/npm",
        "@semantic-release/git"
    ]
}